* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }



.header{

background-color: black;

}
.logo{

    height: 200px;

}
body {
    background-color: #ffffff;
    margin: auto;
  }

  footer {
    color: white;
    font-size: 20px;
   
   
    background-color: black;
  }
  .orden__footer{
position: relative;
bottom: 170px;

  }
  .logoo{
    height: 200px;
    

  }

/* .secciones li {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    font-size: 20px;
  } */
.secciones li a {

    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(76, 104, 173);
   


}

.ropa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; }
.ropa{
    
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-template-rows: 29% 29% 29%;
    gap: 8em;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    padding: 50px; 
}
img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.titulos__anime ul {
    color: #4d504f;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 68rem;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: animacionproductos;
   
  }
  @keyframes animacionproductos {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .titulos__anime1 ul {
    color: #4d504f;
   
    
    position: relative;
    bottom: 450px;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: animacionproducto;
   
  }

  @keyframes animacionproducto {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.texto1{

    position: relative;
    bottom: 6rem;
    left: 13rem;
   

}
  .texto2{

    position: relative;
    bottom: 8rem;
    left: 45rem;

  }

  @media screen and (min-width: 577px){

    body {
        margin: 0;
        width: 576px;
        height: auto;
      }
    .logo {
        width: 180px;
        height: 180px;
       
        position: relative;
        bottom: 20px;
      }
    
      .secciones li {
        display: flex;
        justify-content: space-between;
        padding: 100px;
        margin: 0px;
        margin-left: 63px;
        font-size: 13px;
      }
    
      .secciones li a {
        text-decoration: none;
        
        font-size: 20px;
        color: white;
        
        
      }
      .ropa {
        display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
      gap: 6em;
      position: relative;
      right: 102px;
     
      }

      .imagen img {
        width: 120%;
        height: 120%;
        border-radius: 10px;
      }

      img:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }
  
    
      .titulos__anime ul {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-top: 190px;
        animation-duration: 3s;
        animation-name: animacion2;
      }
  
      @keyframes animacion2 {
        from {
          margin-left: 100%;
          width: 300%;
        }
  
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

      .titulos li {
        display: inline-block;
        position: relative;
        right: 15px;
      }
  
      .titulos li a {
        font-size: 15px;
        position: relative;
        top: 550px;
        left: 10px;
        margin: 11px;
      }
      .titulos2 li {
        display: inline-block;
        position: relative;
        right: 40px;
        animation-duration: 3s;
        animation-name: animacion3;
      }
  
      @keyframes animacion3 {
        from {
          margin-left: 100%;
          width: 300%;
        }
  
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
  
      .titulos2 li a {
        font-size: 15px;
        position: relative;
        top: 100px;
        left: 40px;
        margin: 29px;
      }

  }

  @media screen and (max-width: 576px) {
    header {
      height: 120px;
    }
  
    body {
      overflow-x: hidden;
      margin: 0;
      width: 100%;
      height: auto;
    }
  
    .logo {
  
      height: 5rem;
      width: 5em;
      position: relative;
      bottom: 40px;
  
    }
  
  
    .secciones {
  
      display: flex;
      justify-content: flex-end;
      margin-top: 75px;
    }
  
    .secciones li {
  
      padding-top: 100px;
      font-size: 13px;
    }
  
    .secciones li a {
      text-decoration: none;
      font-size: 10px;
      color: white;
      margin: 15px;
      position: relative;
      bottom: 250px;
    }
  
    
  
    
  
    footer {
      padding: 1em 0;
      width: 100%;
      position: relative;
      top: 55px;
    }
  }
  
  

